/* regole generali di pagina*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header + logo */

header{
    display: inline-block;
    width: 100%;
    height: auto;
    margin: auto;
}

#logo{
    display: inline;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    line-height: normal;
    vertical-align: middle;
}

#logo-text{
    display: inline;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    vertical-align: middle;
    }

/* I contenitore del main */
#grey-background{
    background-color: #F7F8FA;
    height:800px;
}
#contenitore{
    background-color: white;
    width: 80%;
    margin: 20px auto ;
}

/* button e text */
button{
    background-color: #41AAEC;
    border: none;
    border-radius: 6px;
    padding: 6px;
    color: white;
    font-weight: bold;
}
#add-name{
    border-color: ghostwhite;
    border-radius: 6px;
    padding: 6px;
    color: ghostwhite;
}
#search-bar{
    border-bottom: solid 2px ghostwhite;
    padding: 15px;
}
/* main part */
.task{
    margin: 25px;
    color: rgb(105, 104, 104);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{

    color: rgb(66, 62, 62);

}
.text{
    margin: 10px;
}
.check{
    color: #6EBAA4;
    border-color: #6EBAA4;
    text-align: center;
    border: 1px solid  #6EBAA4;
    border-radius: 50%;
}
.uncheck{
    color: #BC6969;
    border-color: #BC6969;
    text-align: center;
    border: 1px solid  #BC6969;
    border-radius: 50%;
}
#text{
    margin-left: 5px;
}
.label{
    background-color: #3FABEB;
    border: none;
    border-radius: 12px;
    padding: 6px;
    color: white;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.label-purple{
    background-color: #A177E6;
    border: none;
    border-radius: 12px;
    padding: 6px;
    color: white;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.label-green{
    background-color: #66C2AB;
    border: none;
    border-radius: 12px;
    padding: 6px;
    color: white;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.label-orange{
    background-color: #F29D31;
    border: none;
    border-radius: 12px;
    padding: 6px;
    color: white;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.label-pink{
    background-color: #DB679F;
    border: none;
    border-radius: 12px;
    padding: 6px;
    color: white;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.label-light-green{
    background-color: #B0C926;
    border: none;
    border-radius: 12px;
    padding: 6px;
    color: white;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}